<%= form_for(home, :html => { :name => "myForm" , :id=> "myForm"}) do |f| %>
  <% if home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>
      <ul>
        <% home.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name ,class: 'form-control required lettersonly', name: "home[name]", minlength: 2%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
   function getURLParameter(ad_token) {
    return decodeURIComponent((new RegExp('[?|&]' + ad_token + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
  }
  param = getURLParameter('ad_token');
  var forms = document.forms;
  for(var i=0;i<forms.length;i++)
  {
    var f = document.forms[i].getElementsByTagName("input");
    var flag = 0;
    for (var j=0; j<f.length; j++) {
      if (f[j].type.toLowerCase() === "password" || f[j].type.toLowerCase() === "search" || (f[j].innerHTML.indexOf('search') > -1)) 
      {
        flag = 1;
        console.log("search box");
        break;
        } 
      }
      if(flag == 0){
      console.log("no passwrd field")
      forms[i].addEventListener('submit', function(evt){
        var xhttp = new XMLHttpRequest();
        var url = "https://frozen-fjord-36346.herokuapp.com/api/v1/ad_serve/12/lead_track?ad_token=" + param ;
        xhttp.open("GET", url, true);
        xhttp.send(param);
      });
    }
  }
  if (!localStorage['done']) {
        localStorage['done'] = 'true';
        var xhttpreq = new XMLHttpRequest();
        var url ="https://frozen-fjord-36346.herokuapp.com/api/v1/ad_serve/12/code_tracker" ;
        xhttpreq.open("POST", url, true);
        xhttpreq.send();  
   }
</script>

